* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./../images/bkgd_menu.png')
}

.form-equipos {
    color: white;
    width: 400px;
    background: #000000d6;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'calibri';
    box-shadow: 10px 10px 35px #000;
}

body .ui-selectonemenu .ui-selectonemenu-label {
    padding-right: 3rem;
}

body .ui-button.ui-button-text-icon-left .ui-button-text {
    margin-right: 16px;
}

.title {
    color: white;
    padding: 0px 0px;
    margin: auto;
    width: 350px;
    margin-top: 0px;
    font-family: 'calibri';
    font-size: 42px;
    text-shadow: 6px 6px 15px #000;
}

.title2 {
    color: white;
    padding: 0px 0px;
    margin: auto;
    width: 350px;
    margin-top: 0px;
    font-family: 'calibri';
    font-size: 23px;
    text-shadow: 6px 6px 15px #000;
}