<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">
    <insert id="insertarElemento" parameterType="map">
        INSERT INTO ELEMENTOS (id, nombre, tipo, funcional, EQUIPO_id)
        VALUES (#{elem.id}, #{elem.nombre}, #{elem.tipo}, #{elem.funcional}, null)
    </insert>

    <select id="consultarElementos" resultMap="ElementoResult">
        SELECT
            e.id as e_id,
            e.nombre as e_nombre,
            e.tipo as e_tipo,
            e.funcional as e_funcional,
            e.EQUIPO_id as e_equipo_id,
            n.id as nv_id,
            n.titulo as nv_titulo,
            n.detalle as nv_detalle,
            n.fecha as nv_fecha,
            n.EQUIPO_id as nv_EQUIPO_id,
            n.ELEMENTO_id as nv_ELEMENTO_id
        FROM ELEMENTOS as e JOIN NOVEDADES as n ON (e.id = n.elemento_id);
    </select>

    <resultMap id="ElementoResult" type="Elemento">
        <id property="id" column="e_id"/>
        <result property="nombre" column="e_nombre"/>
        <result property="tipo" column="e_tipo"/>
        <result property="funcional" column="e_funcional"/>
        <result property="equipo_id" column="e_equipo_id"/>
        <collection property="novedades" javaType="ArrayList" ofType="Novedad" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NovedadMapper.NovedadResult" columnPrefix="nv_">
        </collection>
    </resultMap>


</mapper>