<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.EquipoMapper">

    <insert id="insertarEquipo" parameterType="map">
        INSERT INTO EQUIPOS (id, estado, LABORATORIO_id, nombre)
        VALUES (#{equipo.id}, #{equipo.estado}, null, #{equipo.nombre})
    </insert>

    <select parameterType="map" id="consultarEquipo" resultMap="EquipoResult">
        SELECT
        eq.id as eq_id,
        eq.estado as eq_estado,
        eq.LABORATORIO_id as eq_laboratorio_id,
        eq.nombre as eq_nombre,
        n.id as nv_id,
        n.titulo as nv_titulo,
        n.detalle as nv_detalle,
        n.fecha as nv_fecha,
        n.EQUIPO_id as nv_EQUIPO_id,
        n.ELEMENTO_id as nv_ELEMENTO_id,
        el.id as el_id,
        el.nombre as el_nombre,
        el.tipo as el_tipo,
        el.funcional as el_funcional,
        el.EQUIPO_id as el_EQUIPO_id
        FROM EQUIPOS as eq LEFT JOIN NOVEDADES as n ON (eq.id = n.equipo_id) LEFT JOIN ELEMENTOS AS el ON (eq.id = el.EQUIPO_id)
        WHERE eq.id = #{ideq}
    </select>

    <select parameterType="map" id="consultarEquipos" resultMap="EquipoResult">
        SELECT
        eq.id as eq_id,
        eq.estado as eq_estado,
        eq.LABORATORIO_id as eq_laboratorio_id,
        eq.nombre as eq_nombre,
        n.id as nv_id,
        n.titulo as nv_titulo,
        n.detalle as nv_detalle,
        n.fecha as nv_fecha,
        n.EQUIPO_id as nv_EQUIPO_id,
        n.ELEMENTO_id as nv_ELEMENTO_id,
        el.id as el_id,
        el.nombre as el_nombre,
        el.tipo as el_tipo,
        el.funcional as el_funcional,
        el.EQUIPO_id as el_EQUIPO_id
        FROM EQUIPOS as eq LEFT JOIN NOVEDADES as n ON (eq.id = n.equipo_id) LEFT JOIN ELEMENTOS AS el ON (eq.id = el.EQUIPO_id)
    </select>

    <select parameterType="map" id="consultarEquiposConNovedades" resultMap="EquipoResult">
        SELECT
        eq.id as eq_id,
        eq.estado as eq_estado,
        eq.LABORATORIO_id as eq_laboratorio_id,
        eq.nombre as eq_nombre,
        n.id as nv_id,
        n.titulo as nv_titulo,
        n.detalle as nv_detalle,
        n.fecha as nv_fecha,
        n.EQUIPO_id as nv_EQUIPO_id,
        n.ELEMENTO_id as nv_ELEMENTO_id
        FROM EQUIPOS as eq JOIN NOVEDADES as n ON (eq.id = n.equipo_id);
    </select>

    <select parameterType="map" id="consultarEquiposDisponibles" resultMap="EquipoResult">
        SELECT
        eq.id as eq_id,
        eq.estado as eq_estado,
        eq.LABORATORIO_id as eq_laboratorio_id,
        eq.nombre as eq_nombre,
        n.id as nv_id,
        n.titulo as nv_titulo,
        n.detalle as nv_detalle,
        n.fecha as nv_fecha,
        n.EQUIPO_id as nv_EQUIPO_id,
        n.ELEMENTO_id as nv_ELEMENTO_id
        FROM EQUIPOS as eq LEFT JOIN NOVEDADES as n ON (eq.id = n.equipo_id)
        WHERE eq.estado = true
    </select>

    <select parameterType="map" id="consultarEquiposLaboratorio" resultMap="EquipoResult">
        SELECT
        eq.id as eq_id,
        eq.estado as eq_estado,
        eq.LABORATORIO_id as eq_laboratorio_id,
        eq.nombre as eq_nombre
        FROM EQUIPOS as eq
        WHERE eq.LABORATORIO_id = #{idlb}
    </select>

    <update id="darBajaEquipo" parameterType="map">
        UPDATE EQUIPOS SET estado = false WHERE id = #{ideq};
    </update>

    <resultMap id="EquipoResult" type="Equipo">
        <id property="id" column="eq_id" />
        <result property="estado" column="eq_estado" />
        <result property="laboratorio_id" column="eq_laboratorio_id" />
        <result property="nombre" column="eq_nombre" />
        <collection property="elementos" javaType="ArrayList" ofType="Elemento" column="el_id">
            <result property="id" column="el_id"/>
            <result property="nombre" column="el_nombre"/>
            <result property="tipo" column="el_tipo"/>
            <result property="funcional" column="el_funcional"/>
            <result property="equipo_id" column="el_EQUIPO_id"/>
        </collection>
        <collection property="novedades" javaType="ArrayList" ofType="Novedad" column="n_id">
            <result property="id" column="nv_id"/>
            <result property="titulo" column="nv_titulo"/>
            <result property="detalle" column="nv_detalle"/>
            <result property="fecha" column="nv_fecha"/>
            <result property="EQUIPO_id" column="nv_EQUIPO_id"/>
            <result property="ELEMENTO_id" column="nv_ELEMENTO_id"/>
        </collection>
    </resultMap>

</mapper>